# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\WorkSpaces\IntelliJ-workspace\grokking-system-design-interview\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
